container_commands:
  "10_WhoAmICheck":
    command: "whoami"
  "11_SetupSwap":
    command: "bash .ebextensions/setup_swap.sh"
  "13_NpmInstallGlobals":
    command: "pwd && export PATH=$PATH:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/root/bin:$NODE_HOME/bin && $NODE_HOME/bin/node $NODE_HOME/bin/npm install --unsafe-perm=true --allow-root --scripts-prepend-node-path=true -g git webpack webpack-dev-server karma-cli protractor rimraf typescript cross-env artillery"
  "14_NpmInstallNodeSass":
    command: "pwd && chmod 777 -R ./node_modules && export PATH=$PATH:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/root/bin:$NODE_HOME/bin && $NODE_HOME/bin/node $NODE_HOME/bin/npm install --unsafe-perm=true --allow-root --scripts-prepend-node-path=true node-sass sass-loader"
  "16_NpmBuildAgoraClient":
    command: "pwd && export PATH=$PATH:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/root/bin:$NODE_HOME/bin && $NODE_HOME/bin/node $NODE_HOME/bin/npm run --scripts-prepend-node-path=true build:aot"
  "17_NpmBuildAgoraServer":
    command: "pwd && export PATH=$PATH:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/root/bin:$NODE_HOME/bin && $NODE_HOME/bin/node $NODE_HOME/bin/npm run --scripts-prepend-node-path=true build:server:prod"
